
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.page {
    margin-top: 60px;
    height: 90%;
}

#pageOrdine {
    position: absolute;
    width: 100%;
}


.collection .collection-item {
    padding: 5px 10px;
}

.collection.with-header .collection-item {
    padding: 5px 10px;
}